/*!
 * Header content
 */
.header {

  & .logo {
    @media screen and (max-width: 991px) {
      width: 100%;
      max-width: 100%;
    }
  }

  & a {

    & .call {
      color: $black;
      font-weight: 600;
      
      & small {
        color: $green;
        border-bottom: 1px dashed transparent;
      }
    }

    &:hover {
      text-decoration: none;

      & small {
        border-bottom: 1px dashed $green;
      }
    }
  }

  & .stylish-input-group .input-group-addon{
    background: $grey;
  }
  & .stylish-input-group .form-control{
    border-right: 0;
    box-shadow:0 0 0;
    border-color: transparent;
    background: $grey;
    border-radius: 0;
  }
  & .stylish-input-group button{
    border: 0;
    background:transparent;
  }

}

.navbar {
  font-weight: 600;
}

  .navbar-nav {

    & .nav-item.active a.nav-link {
      color: $green;
    }
    & .nav-item a.nav-link {
      color: $black;
      font-weight: 600;
      transition: .3s;

      @media screen and (max-width: 1199px) {
        font-size: 17px;
        padding-right: .3rem;
        padding-left: .3rem;
      }

      &:hover {
        color: $green;
        transition: .3s;
      }
    }

    & .basket {
      position: relative;
      display: inline-block;
      height: 100%;
      width: max-content;

      & span {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        border: 2px solid $green;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: rgba(255, 255, 255, .75);

      }
    }
  }

